.App{
    background-color: var(--bg);
}

header{
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 40px;
    display: flex;
    gap: 6px;
    align-items: center;
    height: 40px;
}

.goHome{
    font-weight: 600;
    font-size: 24px;
    color: var(--text-secondary);
}