:root {
  --text: #1D291F;
  --text-secondary: #687069;
  --text-h: #687069;
  --bg: #F1F1F1;
    --bg-button: #1B8E2F;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font-family: 'Inter', sans-serif;
  color: var(--text);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}